<div class="main">
  <p class="error" id="missing_field">Vänligen fyll i alla fält.</p>
  <form action="/admin/make_faq" method="POST">
    <table class="ask_table">
      <tr class="ask_row">
        <td><p><label for="title"><span class="ask_title">Titel:</span></label></p>
          <input type="text" name="title" id="title">
        </td>
        <td class="ask_category">
          <p>
            <label for="category"><span class="ask_title">Kategori:</span></label>
          </p>
          <select name="category" id="category">
            <option>-</option>
            <% Category.all.each do |cat| %>
                <option value="<%= cat.id %>"><%= cat.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>
    <div class="ask_text">
      <p><label for="answer"><span class="ask_title">Svar:</span></label>
      </p>
      <textarea name="answer" id="answer" cols="30" rows="10"></textarea>
    </div>
    <div class="ask_button"><input type="submit" class="ask_knapp"></div>
  </form>


</div>