<div class="main">
  <h1>Tickets:</h1>
  <% @tickets.each do |ticket| %>
    <a href="/<%= params[:user_id] %>/tickets/<%= ticket.id %>">
           <h3 class="ticket_title"><%= ticket.title %></h3>
    </a>
  <% end %>
</div>